.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___img{
  height: 200px;
  width: auto;
  margin: 0 auto;
}

.fighter-preview__info{
  width: 100%;
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 25px 0;
  text-align: center;
}

.fighter-preview__title{
  color: #ba0303;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}

.fighter-preview__stat{
  color: #ba0303;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
